@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 200px;
  height: 200px;
  animation: Rotate 5s linear infinite;
}