.container {
  display: grid;
  grid-template-areas:
    "searchbar"
    "error-button"
    "results";

  &.details {
    grid-template-areas:
      "searchbar details"
      "error-button details"
      "results details";
  }
}
