@import '../../variables.scss';

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 2em auto;

  &__btn {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: none;
    background: $blue-color;
    font-family: 'Poppins', sans-serif;
    color: $font-color;
    font-size: 1em;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.2s;

    &:not(:disabled):hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  &__page-number {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $blue-color;
    color: $font-color;
    font-size: 1.1em;
    font-weight: 700;
  }
}
